*{
    margin: 0;
    padding: 0;
}

/*mane-head point start (1)*/
.mane-head{
    background-image: url(./new-year/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 15px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    }
    .mane-text{
    position: relative;
    top: 210px;
    color: #fff;
    }
    .mane-text h3{
        font-size: 30px;
        font-family: Merriweather;
    }
    .mane-text h1{
        font-size: 70px;
    }
    /*mane-head point end (1)*/



/*Header point start (2)*/
.head-point{
   width: 800px;
height: 800px;
margin:0 auto;
text-align: center;
padding: 100px 0;
}
/*head-name point start*/
.head-name{
    height: 30%;
    background-color: #ffffff;
}
.head-name h1{
    font-size: 80px;
    color: red;
    font-family: 'Kanit', sans-serif;
    margin: 30px 0;
}
.head-name h4{
    font-size: 25px;
    color: red;
    font-family: 'Kanit', sans-serif;
    margin: 10px 0;
}
.head-name h3{
    font-size: 40px;
    color: rgb(8, 8, 8);
    font-family: 'Kanit', sans-serif;
    margin: 10px 0;
}
/*head-name point end*/
/*image point stert*/
.image-div{
    background-image: url(./new-year/NewYearPhoto.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/*image point end*/
/*Header point end (2) */



/*welcome-point start (3)*/
.welcome-point{
    background-image: url(./new-year/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 100px auto;
    border-radius: 15px;
}
/*welcome text point start*/
.welcome-text{
    width: 60%;
    display: inline-block;
    color: #fff;
}
.welcam-text-div{
    margin-left: 200px;
}
.welcome-text h2{
    font-size: 65px;
    font-weight: 900;
}
.welcome-text h4{
    font-size: 20px;
    font-family: Merriweather;
    font-weight: 300;
}
/*welcome text point end*/
/*button point start*/
.button-point{
   padding: 15px 30px;
   border: 1px solid #000;
   border-radius: 10px;
   margin-top: 20px;
   font-weight: 600;
   color:#fff;
   background-color: #ff0000;
}
.button-point:hover{
    background-color: rgb(20, 233, 215);
    border: 1px solid rgb(12, 103, 240);
    color: red;
}
/*button point end*/
/*welcome text point end*/
/*welcome image point start*/
.welcome-image{
    width: 40%;
    display: inline;
}
.welcome-image img{
    position: relative;
    top: 60px;
    left: 80px;
    height: 450px;
    width: 320px;
}
/*welcome image point end*/
/*welcome-point end (3)*/



/*new-offer point start (5)*/
.new-offer{
    width: 1320px;
    height: 450px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 15px; 
}
/*new-offer-1 start*/
.new-offer-1{
    width: 31%;
    display: inline-block;
    position: relative;
  top: -80px;
}
.new-offer-1 h3{
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color: red;
}
.new-offer-1 h2{
    font-size: 50px;
    color: #000;
    line-height: 80px;
}
.new-offer-1 p {
    font-size: 20px;
    color: #616060;
}
/*  new-offer-1 end */
/*new-offer-2 start*/
.new-offer-2{
    width: 31%;
    display: inline-block;
    text-align: center;
    border: 7px solid red;
    border-radius: 50% 50%;
  width: 406px;
  height: 385px;
  padding-top: 20px;
}
/*new-offer-2 end*/
/*new-offer-3 start*/
.new-offer-3{
width: 31%;
display: inline-block;
position: relative;
  top: -25px;
  width: 300px;
  margin-left: 100px;
}
.new-offer-3 p{
    font-size: 20px;
    color: #616060;
margin: 20px 0;
}
.new-offer-3 h2{
    font-size: 50px;
    font-weight: 800;
}
/*new-offer-3 end*/
/*new-offer point end (5)*/

















/*date-point start (4)*/
.date-point{
    background-color: #e0cccc;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
}
.date-point-div{
    position: relative;
    top: 150px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
}
.date-span{
   color: #ff0000; 
}
/*date-point end (4)*/






/*GIFTS-text point start (7)*/
.GIFTS-text{
    background-color: #fdfcfc;
    color: #0e0d0d;
    width: 1320px;
    margin: 20px auto;
    padding: 100px 0 15px 0;
}
.GIFTS-text h2{
    font-family: Inter;
    font-size: 25px;
    color: red;
}
.GIFTS-text h1{
font-size: 50px;
line-height: 70px;
color: #000;
}
.GIFTS-text h4{
font-size: 20px;
font-family: Inter;
color: #3b3636;
width: 70%;
}
/*GIFTS-text point end*/
/*GIFTS point start*/
.GIFTS{
   width: 1320px;
   height: 800px;
   margin: 0 auto;
   text-align: center;
}
/*GIFTS-image start*/
.gift-div-1{
width: 33%;
display: inline-block;

}
.gift-div-1 img{
    width: 420px;
     height: 365px;
     margin: 7px;
}
/*GIFTS-image end (7)*/




/*Newsletter point start (8)*/
.Newsletter{
    background-color: #e0cccc;
    color: #fff;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;  
}
.Newsletter img{
    padding: 100px 0 20px 0;
}
.Newsletter-div h2{
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    color: #000;
}
.Newsletter-div h3{
    color: #4b4848;
   width: 700px; 
   text-align: center;
   margin: 20px auto;
   font-family: Inter;
   font-weight: 400;
   font-size: 20px;
}
/*input & button-div start*/
#input-div{
padding: 20px 120px;
border: none;
border-radius: 30px 0 0 30px;
background-color: #fff;
}
.Subscribe-div{
  padding: 20px 60px; 
  border-radius: 0 30px 30px 0; 
  border: none;
  margin-left: -4px;
  background-color: #ff0000;
}
.Subscribe-div:hover{
    background-color: cornflowerblue;
    color: whitesmoke;
}
/*input & button-div end */
/*Newsletter point end (8)*/




/*mane footer start (9)*/
.mane-footer{
    background-color: #000;
    color: #fff;
    /*width: 1320px;*/
    height: 600px;
    margin: 0 auto;
    /*border-radius: 15px;*/
    text-align: center;
}
.footer-weigth{
    width: 1200px;
    margin: 30px auto;
}
/*footer-div-1 start*/
/*footer-text-1 start*/
.footer-text-1{
    width: 35%;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-top: 100px;
}
/*footer-text-1 end */
/*footer-text-2 start*/
.footer-text-2{
    width: 60%;
    display: inline-block;
    text-align: right;
    margin-bottom: 100px;
}
.icon-1 img{
    padding-top: 30px;
    margin: -11px 0;
  }
.footer-div-2{
    margin: 50px 0;
}
.footer-div-2 img{
    margin: 0 20px;
}
/*footer-text-1 end*/
hr{ /* line mide */
    color: #4b4848;
    margin: 30px 0;
}
/*footer-div-3 start*/
.footer-end-1{
    width: 50%;
    font-size: 20px;
    display: inline-block;
    text-align-last: left;
}
.footer-end-2{
    width: 49%;
    font-size: 20px;
    display: inline-block;
    text-align: right;
}
/*footer-div-3 end*/
/*mane footer end (9)*/